<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lmasi.hangsho">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/login_male"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <activity android:name=".Activity_Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity_Login"/>

        <activity android:name=".Activity_Register"/>

        <activity android:name=".Activity_Main"/>
        <activity android:name=".Activity_Local"/>
        <activity android:name=".Activity_ChooseStore"/>
        <activity android:name=".Activity_shopList"/>
        <activity android:name=".Activity_ChooseCoupons"/>
        <activity android:name=".Activity_Setting"/>

        <activity android:name=".TestActivity">


        </activity>

        <activity android:name=".Activity_timeLine"/>
        <activity android:name=".Activity_Phone"/>
        <activity android:name=".Activity_Result"/>
        <activity android:name=".Activity_CheckCoupons"/>
        <activity android:name=".Activity_ShowCodi"/>
        <activity android:name=".Activity_CheckHistory"/>
        <activity android:name=".Activity_Popup"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            >
        </activity>


        <service android:name=".SocketService" android:enabled="true">
            <intent-filter>
                <action android:name="com.example.lmasi.hangsho.services">

                </action>
            </intent-filter>
        </service>


    </application>



</manifest>